---
title: "About Me"
siteHeading: "About Me"
subHeading: "This is what I do."
image: "/img/about.jpg"
---

<!DOCTYPE html>
<html lang="en">

{%include head.html%}

<body>

    {%include nav.html%}
	{%include site-header.html%}
	
	<!-- Main Content -->
    <div class="container container-smooth-sm">
        <div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="paragraph">Welcome to my blog!</p>
                <p class="paragraph">First of all a little bit about the blog name. My family comes from the Manyu region in Cameroon. People from our ethnic group are called ‘Bayangi’ people and we speak the ‘Kenyang’ dialect. ‘Moh Manyang’ actually means ‘Bayangi’ child or child of the soil in ‘Kenyang’.</p>
                <p class="paragraph">Although this blog is about food and food for thought, I am actually a geek at heart. During the day I work as a Software Engineer and I absolutely love it. Once more welcome. I hope you enjoy what's on here and don't hesitate to comment if you have any queries.</p>
                <p class="paragraph">If you like what you see, spread the word! My Twitter and Instagram handles are: agbor_ka. Enjoy!</p>
			</div>
		</div>
	</div>
    <hr>

	{%include footer.html%}
	
	<!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
	
    <!-- Show header on scroll up -->
    <script src="/js/floating-header.js"></script>

</body>

</html>
