---
title: "Find Something"
siteHeading: "Find Something"
subHeading: "Hope you find what you're looking for."
image: "/img/post-bg.jpg"
---

<!DOCTYPE html>
<html lang="en">

{%include head.html%}

<body>

    {%include nav.html%}
	{%include site-header.html%}
	
	<!-- Main Content -->
    <div class="container container-smooth-sm"  style="padding: 0px">
        <div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				
                <form id="site_search" action="get" class="form-search" style="padding: 3px">
					<div class="input-group">
						<input id="search_box" type="text" class="form-control" placeholder="Search">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</form>
				
				<ul id="search_results"></ul>
				
				<!-- Pager -->
				<ul class="pager">
					<li class="pagination">
						<!--a id="morePostsBtn" href="#" class="next">Load More Posts</a-->
					</li>
				</ul>
			</div>
		</div>
	</div>
    <hr>

	{%include footer.html%}
	
	<!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
	
    <!-- Show header on scroll up -->
    <script src="/js/floating-header.js"></script>
	
	<!-- Lunr search scripts -->
	<script src="/js/lunr.js"></script>
	<script src="/js/search.js"></script>

</body>

</html>
