<!-- Posst Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% if page.image %}{{page.image}}{% else %}img/default-bg.jpg{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>
						    {% if page.postHeading %}
								{{page.postHeading}}
							{% else %}
								No Post Heading Provided
							{% endif %}
						</h1>
                        <h2 class="subheading">
							{% if page.subHeading %}
								{{page.subHeading}}
							{% else %}
								No Subheading Provided
							{% endif %}
						</h2>
                        <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span>
                    </div>
                </div>
            </div>
        </div>
	</header>