<!-- Posst Header -->
    <!-- Set your background image for this header on the line below. -->
	<header>
    <!--header class="intro-header" style="background-image: url('{% if page.image %}{{site.url}}{{page.image}}{% else %}{{site.url}}/img/default-bg.jpg{% endif %}')"-->
        <img style="max-width:100%;max-height:100%" src="{% if page.image %}{{site.url}}{{page.image}}{% else %}{{site.url}}/img/default-bg.jpg{% endif %}">
		<!--div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
						<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
						<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
						<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                        <h1 align="center">
						    {% if page.postHeading %}
								{{page.postHeading}}
							{% else %}
								No Post Heading Provided
							{% endif %}
						</h1>
                        <h2 class="subheading">
							{% if page.subHeading %}
								{{page.subHeading}}
							{% else %}
								No Subheading Provided
							{% endif %}
						</h2>
                        <span class="meta" style="align:center">Posted on: {{page.date | date_to_string}}</span>
                    </div>
                </div>
            </div>
        </div-->
	</header>