<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% if page.image %}{{site.url}}/{{page.image}}{% else %}{{site.url}}/img/default-bg.jpg{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>
						    {% if page.siteHeading %}
								{{page.siteHeading}}
							{% else %}
								No Site Heading Provided
							{% endif %}
						</h1>
                        <hr class="small">
                        <span class="subheading">
							{% if page.subHeading %}
								{{page.subHeading}}
							{% else %}
								No Subheading Provided
							{% endif %}
						</span>
                    </div>
                </div>
            </div>
        </div>
    </header>