<!--http://bootsnipp.com/snippets/featured/bootstrap-carousel-with-text-->
<!-- Page Header -->
	<div class="carousel slide">
		<div class="carousel-inner">
			<div class="item active header-offset" >
				<img src='{% if page.image %}{{site.baseurl}}{{page.image}}{% else %}{{site.baseurl}}/img/banner.jpg{% endif %}' class="img-responsive centre-banner">
				
					<div class="blog-heading">
						<h1>
							{% if page.siteHeading %}
								{{page.siteHeading}}
							{% else %}
								No Site Heading Provided
							{% endif %}
						</h1>
						<hr class="small">
						<span class="subheading">
							{% if page.subHeading %}
								{{page.subHeading}}
							{% else %}
								No Subheading Provided
							{% endif %}
						</span>
					</div>
			</div>
		</div>
    </div>
	