<!DOCTYPE html>
<html lang="en">

{%include head.html%}

<body>

    {%include nav.html%}
	{%include site-header.html%}
	
	<!-- Main Content -->
    <div class="container container-smooth-sm"  style="padding: 0px">
        <div class="row">
			<div class="col-lg-7 col-md-7 col-sm-8" ><!--col-lg-offset-2 col-md-10 col-md-offset-1"--><!--class="col-lg-9 col-md-9"-->
				<div class="post-preview">
					<p class="visible-xs visible-sm">
						<button type="button" class="btn btn-default btn-sm" data-toggle="showMe">
							<span class="glyphicon glyphicon-comment"></span> Comments
						</button>
					</p>
				</div>
				{{content}}
			</div>
			<!--Google Ads ?-->
			<div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4"></div>
			<!--div class="col-lg-3 col-md-3"> 				
				<div id="disqus_thread" class="well sidebar-nav">
					<ul class="nav">
						<script type="text/javascript">						
							var disqus_config = function () {
								this.page.url = '{{ site.url }}{{ page.url }}';
								this.page.identifier = '{{page.postHeading}}';
							};							
							(function() {  // DON'T EDIT BELOW THIS LINE
								var d = document, s = d.createElement('script');								
								s.src = '//mohmanyang.disqus.com/embed.js';								
								s.setAttribute('data-timestamp', +new Date());
								(d.head || d.body).appendChild(s);
							})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
					</ul>
				</div>
			</div-->
        </div>
    </div>

    <hr>
	
	{%include footer.html%}
	
	<!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
	
	<!-- Load more posts function-->
	<script src="/js/infinite-loading.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

	<!--Toggle function-->
	<script src="/js/toggle-columns.js"></script>
	
    <!-- Show header on scroll up-->
    <script src="/js/floating-header.js"></script>

</body>

</html>
